.container{
    position:fixed;
    width:100%;
    height:100%;
    background: black;
  }
.pingh1{
  color:white;
}
.temp{
  color:white;
}
#webs,#poll{
  color:white;
}
.outdiv{
  text-align: center;
  }
.divin{
    text-align: center;
    display:inline-block;
    margin-right: 30px;
  
  }

.board-c{
    width:90%;
    height:90%;
    margin:auto;
    margin-top: 0%;
    background: white;
  }

.board{
    width:100%;
    height:100%;
}
.boarddiv{
    width:100%;
    height:100%;
    width:90%;
    height:90%;
    margin:auto;
    margin-top: 0%;
    background: white;
}
